<v-card class="grey lighten-4 elevation-0">
  <v-card-text>
    <v-container fluid>
      <v-layout row wrap>
        <v-col xs12 md3>
          <v-checkbox label="Success" v-model="ex7" value="success" success light hide-details />
        </v-col>
        <v-col xs12 md3>
          <v-checkbox label="Info" v-model="ex7" value="info" info light hide-details />
        </v-col>
        <v-col xs12 md3>
          <v-checkbox label="Warning" v-model="ex7" value="warning" warning light hide-details />
        </v-col>
        <v-col xs12 md3>
          <v-checkbox label="Error" v-model="ex7" value="error" error light hide-details />
        </v-col>
      </v-layout>
    </v-container>
  </v-card-text>
</v-card>