.markup
  background: rgba(0, 0, 0, .03)
  margin: 2rem -1rem
  font-size: 1.2rem
  transition: .3s ease-out
  word-break: break-all
  
  &:hover
    background: rgba(0, 0, 0, .1)
  
  pre, code
    background: transparent
    width: 100%
    display: block
    
  code
    font-weight: 600 !important
    position: relative
    padding: 2rem
    
    &:before
      display: none
    
    &:after
      color: #fff
      position: absolute
      font-size: .8rem
      top: 0
      right: 0
      background: rgba(#444, .7)
      padding: .3rem .5rem
      font-weight: 100
      letter-spacing: 2px
      
    &.html
      &:after
        content: 'html'
    &.js
      &:after
        content: 'javascript'
    &.bash
      &:after
        content: 'bash'
  
  .hljs
    color: $theme.secondary
    
    .hljs-tag
      color: $purple.lighten-1
    
    .hljs-attr, .hljs-keyword
      color: $theme.primary
      
    .hljs-string, .hljs-literal
      color: $red.lighten-2