.view
  margin-bottom: 3rem
  
  .breadcrumbs
    justify-content: flex-end
  
  .chip--component
    margin-right: 1rem
    
  dt
    font-weight 900
    
  .section-text
    line-height: $line-height-root * 1.5