$color-pack = false
$navbar-min-height = 15rem

@import 'node_modules/vuetify/src/stylus/main'

@import 'src/stylus/components/_view'
@import 'src/stylus/components/_navbar'
@import 'src/stylus/components/_sidebar'
@import 'src/stylus/components/_section-header'
@import 'src/stylus/components/_section-text'
@import 'src/stylus/components/_component-example'
@import 'src/stylus/components/_component-parameters'
@import 'src/stylus/components/_markup'
@import 'src/stylus/generic/_transitions'
@import 'src/stylus/elements/_global'