$color-pack = false
$navbar-min-height = 15rem

@import '../../node_modules/vuetify/src/stylus/main'

@import './components/_view'
@import './components/_navbar'
@import './components/_sidebar'
@import './components/_section-header'
@import './components/_section-text'
@import './components/_component-example'
@import './components/_component-parameters'
@import './components/_markup'
@import './generic/_transitions'
@import './elements/_global'