$color-pack = true
$navbar-min-height = 15rem

@import 'node_modules/vuetify/src/stylus/settings/_colors'
@import 'node_modules/vuetify/src/stylus/settings/_variables'
@import 'node_modules/vuetify/src/stylus/tools/_mixins'
@import 'node_modules/vuetify/src/stylus/generic/_reset'
@import 'node_modules/vuetify/src/stylus/generic/_grid'
@import 'node_modules/vuetify/src/stylus/generic/_bootstrap'
@import 'node_modules/vuetify/src/stylus/generic/_z-depths'
@import 'node_modules/vuetify/src/stylus/elements/_code'
@import 'node_modules/vuetify/src/stylus/elements/_global'
@import 'node_modules/vuetify/src/stylus/elements/_headings'
@import 'node_modules/vuetify/src/stylus/elements/_typography'
@import 'node_modules/vuetify/src/stylus/components/_alerts'
@import 'node_modules/vuetify/src/stylus/components/_badges'
@import 'node_modules/vuetify/src/stylus/components/_breadcrumbs'
@import 'node_modules/vuetify/src/stylus/components/_buttons'
@import 'node_modules/vuetify/src/stylus/components/_cards'
@import 'node_modules/vuetify/src/stylus/components/_chips'
@import 'node_modules/vuetify/src/stylus/components/_collapsible'
@import 'node_modules/vuetify/src/stylus/components/_dropdowns'
@import 'node_modules/vuetify/src/stylus/components/_icons'
@import 'node_modules/vuetify/src/stylus/components/_footer'
@import 'node_modules/vuetify/src/stylus/components/_forms'
@import 'node_modules/vuetify/src/stylus/components/_lists'
@import 'node_modules/vuetify/src/stylus/components/_navbar'
@import 'node_modules/vuetify/src/stylus/components/_modals'
@import 'node_modules/vuetify/src/stylus/components/_pagination'
@import 'node_modules/vuetify/src/stylus/components/_parallax'
@import 'node_modules/vuetify/src/stylus/components/_progress'
@import 'node_modules/vuetify/src/stylus/components/_sidebar'
@import 'node_modules/vuetify/src/stylus/components/_slider'
@import 'node_modules/vuetify/src/stylus/components/_tables'
@import 'node_modules/vuetify/src/stylus/components/_tabs'
@import 'node_modules/vuetify/src/stylus/components/_toasts'
@import 'node_modules/vuetify/src/stylus/components/_tooltips'
@import 'node_modules/vuetify/src/stylus/trumps/_app'
@import 'node_modules/vuetify/src/stylus/trumps/_display'
@import 'node_modules/vuetify/src/stylus/trumps/_helpers'
@import 'node_modules/vuetify/src/stylus/trumps/_text'
@import 'src/stylus/generic/_transitions'
@import 'src/stylus/elements/_global'