$color-pack = true
$navbar-min-height = 15rem

h2, h3, h4, h5, h6
  margin-top: 3rem

@import '../node_modules/vuetify/src/stylus/main'
  
.slide-enter-active
  transition: all .3s ease
  
.slide-enter, .slide-leave-active
  opacity: 0
  
.slide-enter
  transform: translateX(-3rem)
  
.slide-leave-active
  transition: all .2s ease
  transform: translateX(3rem)

body
  background: rgba(0, 0, 0, .005)

section
  padding: 0 1rem
      
.view
  margin-bottom: 3rem
  
  .chip--component
    margin-right: 1rem
    

.section-text
  min-width: 50%
  max-width: 700px
  text-align: justify
  margin-bottom: 1rem
    
  p
    margin-bottom: 1rem !important
    
    strong
      font-weight: 900
      

.markup
  background: rgba(0, 0, 0, .03)
  margin: 2rem -1rem
  font-size: 1.2rem
  transition: .3s ease-out
  
  &:hover
    background: rgba(0, 0, 0, .1)
  
  pre, code
    background: transparent
    width: 100%
    display: block
    
  pre
    padding: 2rem
    
  code
    font-weight: 600 !important
    
    &:before
      display: none
  
  .hljs
    color: $theme.secondary
    
    .hljs-tag
      color: $purple.lighten-1
    
    .hljs-attr, .hljs-keyword
      color: $theme.primary
      
    .hljs-string, .hljs-literal
      color: $red.lighten-2