$navbar-min-height = 10rem

@import '../../node_modules/vuetify/src/stylus/settings/_colors'
@import '../../node_modules/vuetify/src/stylus/settings/_variables'
@import '../../node_modules/vuetify/src/stylus/tools/_mixins'
@import '../../node_modules/vuetify/src/stylus/generic/_reset'
@import '../../node_modules/vuetify/src/stylus/generic/_z-depths'
@import '../../node_modules/vuetify/src/stylus/elements/_global'
@import '../../node_modules/vuetify/src/stylus/elements/_headings'
@import '../../node_modules/vuetify/src/stylus/elements/_typography'
@import '../../node_modules/vuetify/src/stylus/components/_navbar'
@import '../../node_modules/vuetify/src/stylus/components/_sidebar'
@import '../../node_modules/vuetify/src/stylus/components/_footer'