.slide-enter-active
  transition: all .3s ease
  
.slide-enter, .slide-leave-active
  opacity: 0
  
.slide-enter
  transform: translateX(-3rem)
  
.slide-leave-active
  transition: all .2s ease
  transform: translateX(3rem)