body
  background: rgba(0, 0, 0, .005)

h6
  margin-top: 3rem

// section
  // padding: 0 1rem

// ul
//   padding-left: 2rem

// .content > .container
//   padding: 1rem 3rem 0

//   @media $display-breakpoints.sm-and-down
//     padding: 1rem 0 0

code, kbd
  elevation(1)
